<section class="list">
  <div class="listheader">
    <h4>Wahlvorschlag Nr. {{list.nummer}}</h4>
    <div><b>Frauenquote:</b> {{womensQuota}} %</div>
    <div><b>Altersdurchschnitt:</b> {{ageAverage}} Jahre</div>
  </div>

  <div *ngIf="list.partei.logo" class="logo"><img [src]="list.partei.logo" /></div>

	<header>
		<h2>{{list.nummer}}: <span title="{{list.partei.langform}}">{{list.partei.kurzform}}</span></h2>
		<div [innerHTML]="getSubtitle()"></div>
  </header>

	<app-candidate *ngFor="let candidate of list.kandidaten"
    listNumber="{{list.nummer}}"
    [candidate]="candidate"
	></app-candidate>
</section>
